body {
    margin: 0;
}
canvas {
    width: 100%;
    height: 100%;
}

#mainCanva {
    position: relative;
    text-align: center;
}
#year-selector {
    position: absolute;
    padding: 15px;
    color: #fff;
    margin-left: 50vw;
    margin-top: 80vh;
    transform: translate(-50%, -50%);
}

#year {
    padding: 10px;
}