body {
    margin: 0;
    --strava-color:#FC4C02;
    background-color: black;
}
canvas {
    width: 100%;
    height: 100%;
    background: rgb(36,31,115);
    background: radial-gradient(circle, rgba(36,31,115,1) 0%, rgba(153,3,33,1) 100%); 
}

#mainCanva {
    position: relative;
    text-align: center;
}

#center-container {
    position: absolute;
    color: #fff;
    margin-left: 50vw;
    margin-top: 30vh;
    transform: translate(-50%, -50%);
    padding: 4rem 3rem;
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff; 
}


#login-button {
    width: 100%;
    display: block;
}

.title {
    /* margin-top: 20%; */
    font-family: Helvetica, sans-serif;
    margin-bottom: 40px;
}

.centered {
    margin: auto;
}

#year-selector {
    position: absolute;
    color: #fff;
    padding: 1px 0px;
    margin-left: 50vw;
    margin-top: 80vh;
    transform: translate(-50%, -50%);
    border: 2px solid var(--strava-color);
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

#year {
    padding: .9rem 0.15rem .9rem 1rem;
    margin-right:1.5rem;
}

#metric {
    padding: .9rem 0.15rem .9rem 1.5rem;
}

select#metric option[value="distance"]   { background-image:url(distance.svg);   }
select#metric option[value="elevation"] { background-image:url(climb.svg); }

.white-option option{
    color: #000;
}

.transparent-selector {
    background-color: transparent;
    color: #fff;
    border: none;
}

#year-button {
    padding: 1rem 2rem ;
    border: 1px solid var(--strava-color);
    background-color: var(--strava-color);
    border-radius: 15px 0 0 15px;
}

.logo-button {
    position: fixed;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 0px;
    background-color: white;
    opacity: 0.9;
    bottom: 16px;
    z-index:100;
    box-shadow:0 0 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    text-decoration: none;
}

#code-button {
    right: 16px;
}

#logout-button {
    right: 75px;
}

#screenshot {
    right: 135px;
}

.poweredBy {
    position: fixed;
    margin-top: 95vh;
    padding: 12px;
    border-radius: 50%;
    z-index:100;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

.responsive-logo {
    max-width: 200px;
    height: auto;
}

.logo {
    display:block;
}


/* MEDIA */

#popup-mobile {
    position: absolute;
    visibility:visible;
    color: #000;
    padding: 2rem 3rem;
    background:white;
    display: block;
    z-index:100;
    box-sizing: border-box;
    margin-left: 50%;
    top: 5vh;
    transform: translate(-50%, 0);
    font-family: Helvetica, sans-serif;
    border-radius: 5px;
}

#popup-mobile #close-mobile {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

@media screen and (min-width : 700px) {
    #popup-mobile{
        visibility:hidden;
    }
}