<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava 3D Stats</title>
    <style>
        body { margin: 0; }
        canvas { width: 100%; height: 100%;}
    </style>
    <link href="./styles/main.css" type="text/css">
</head>
<body>
    <data id="year-container" value="{{selectedYear}}"></data>
    <script type="module" src="./src/main.js"></script>
</body>
</html>