<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava 3D Stats</title>
</head>
<body>
    {{#if authenticated}} 
    <form action="/" method="get">
        <label for="year">Welcome {{username}} | Choose a year:</label>
        <select name="year" id="year">
            {{#each availableYears}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select> 
        <button type="submit" id="yearButton">Create</button>
    </form>
    {{else}}
        <a href="/login">Login</a>
    {{/if}}

</body>
</html>