<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava Stats</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <data id="data-container" user="{{user}}"></data>
    
    <div id='mainCanva'>
        <div id="year-selector">
            <select name="year" id="year">
                {{#each availableYears}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select> 
            <button id="year-button">Create</button>
            <a href="/logout">Log out</a>
        </div>
    </div>
    <script type="module" src="./src/main.js"></script>
</body>
</html>