<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava Stats</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <data id="data-container" user="{{user}}"></data>
    <div id='popup-mobile'>
        <a id="close-mobile">&times;</a>
        <div class="content"></div>
        This website is optimized for desktop usage. Use landscape mode.
        </div>
    </div>
    <div id='mainCanva'>
        <div id="year-selector">
            <select name="metric" class="white-option transparent-selector" id="metric">
                <option selected value="distance">Distance</option>
                <option value="elevation">Elevation</option>
            </select> 
            <select name="year" class="white-option transparent-selector" id="year">
                {{#each availableYears}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select> 
            <a id="year-button">Create</a>

        </div>
        <a id="logout-button" class="logo-button" style="" href="/logout" title="Log out">
            <img class="logo" src="/styles/logout.svg">
            
        </a>
        <a id="code-button" class="logo-button" target="_blank" style="" href="https://github.com/QuentinPhilipp/strava-3D-stats" title="Check code source on GitHub">
            <img class="logo" src="/styles/code.svg">
        </a>
        <a class="poweredBy" target="_blank" style="" href="https://strava.com/" title="Powered by Strava">
            <img class="responsive-logo" src="/styles/pwrdByStrava.png">
        </a>
    </div>

    <script type="module" src="./src/main.js"></script>
</body>
</html>