<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava 3D Stats</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div id='popup-mobile'>
        <a id="close-mobile">&times;</a>
        <div class="content"></div>
        This website is optimized for desktop usage.
        </div>
    </div>
    <div id='mainCanva'>
        <div id="center-container">

            <div id="login-container">

                <h1 class="title">View the 3D version of your Strava statistics</h1>
                <a id="login-button" href="/login">
                    <img class="logo centered" src="/styles/connectWithStrava.png">
                </a>
            </div>
        </div>
        <a id="code-button" class="logo-button" target="_blank" style="" href="https://github.com/QuentinPhilipp/strava-3D-stats" title="Check code source on GitHub">
            <img class="logo" src="/styles/code.svg">
        </a>
        <a class="poweredBy" target="_blank" style="" href="https://strava.com/" title="Powered by Strava">
            <img class="logo" src="/styles/pwrdByStrava.png">
        </a>
    </div>
    <script type="module" src="./src/main.js"></script>

</body>
</html>